{% extends "mainFrame.html" %}

{% block pageTitle %}<h1> Address Specific </h1>{% endblock %}

{% block content %}
    <h3> Parsed Address </h3>
        {{parsedAddress}}
        <br><hr>   
    <center>
    <iframe src="Iframe/folium_Map_TMP" height="500" width="1200"></iframe>
        <br><br>
    <iframe src="Iframe/plotly_MultiBar_TMP" height="400" width="1200"></iframe> 
    <iframe src="Iframe/plotly_Scatter_TMP" height="500" width="1200"></iframe>
    <iframe src="Iframe/plotly_PieChart_TMP" height="500" width="1200"></iframe>  
    </center>
       <br><br>
    <h3> Nearby Incident Statistics </h3>
        {% include "Incidents/incidentTable.html" with incidents=nearbyIncidentsStats %}
    <h3> Nearby Incidents </h3>
        {% include "Incidents/incidentTable.html" with incidents=nearbyIncidents %}
{% endblock %}
