{% load staticfiles %}

{% block content %}
    <img src="{% static 'QGIS_Previews/Assistance_by_ZipCode.png' %}" height="200" width = "400">
        <a href="{% url 'download' 'Assistance_by_ZipCode.zip' %}" target=blank>
        <figcaption>Assistance by ZipCode</figcaption></a>
    <img src="{% static 'QGIS_Previews/AssistancePerPerson_by_ZipCode.png' %}" height="200" width = "400" >
        <a href="{% url 'download' 'AssistancePerPerson_by_ZipCode.zip' %}" target=blank>
        <figcaption>Assistance per Person (Adults+Children) by ZipCode</figcaption></a>
{% endblock %}