{% extends "mainFrame.html" %}

{% block pageTitle%}<h1>Plots</h1>{% endblock %}

{% block content %}
    
    <h3>PreGenerated QGIS Maps</h3>
        <p>Click links to download full zoomable maps of Chicago</p>
        <center>
        {% include "Plots/mapsTable.html" %}
        </center>
    <h3>PreGenerated Plots with Plotly</h3>
        <p>Plots generated based on complete set of ARC incident reports</p>
        <center>
        {% include "Plots/plotlyTable.html" %}
        </center>
{% endblock %}