{% extends "mainFrame.html" %}

{% block pageTitle %}<h1>About</h1>{% endblock %}

{% block content %}
    <h1> IIT IPRO 497-318 </h1>
    <p> Analysis of follow up reports to fires by <a href=https://www.redcross.org/ target=blank >American Red Cross</a> volunteers </p>

    <h3>Important Links</h3>
        <ul>
            <li><a href=https://data.cityofchicago.org target=blank>Chicago Data Portal</a></li>
        </ul>
    <br><hr>
    
    
    <h3>Final Presentation</h3> 
        <center><iframe src="{% url 'viewPDF' 'Final_Presentation.pdf' %}" height="600" width="1000"></iframe></center>
        <br><br>
    <h3>Final Paper</h3> 
        <center><iframe src="{% url 'viewPDF' 'Final_Paper.pdf' %}" height="600" width="1000"></iframe></center>
    <br><hr>

    <h3> Authors </h3>
        Aleksei Sorokin, Elliot Tan, Angelin Thomas, Yunhan Zhang
{% endblock %}