{% extends "mainFrame.html" %}
{% load staticfiles %}

{% block pageTitle %}<h1>American Red Cross Data Project</h1>{% endblock %}
        
{% block content %}
    <h2>Incidents</h2>
            {% include "Incidents/incidentSearchForm.html" %}<br>
        <h5>Recent Indicents</h5>
            {% include "Incidents/incidentTable.html" with incidents=incidents %}
            <br><hr>
    <h2>Plots</h2>
        <img src="{% static 'QGIS_Previews/Assistance_by_ZipCode.png' %}" height="200" width = "400">
            <a href="{% url 'download' 'Assistance_by_ZipCode.zip' %}" target=blank>
            <figcaption>Assistance by ZipCode</figcaption></a>
        
{% endblock %}


