{% extends "mainFrame.html" %}
{% load staticfiles %}

{% block pageTitle %}<h1>American Red Cross Data Project</h1>{% endblock %}
        
{% block content %}
    <center>
    <iframe src="Iframe/folium_Map_Static" height="600" width="1200"></iframe>
        <br><br>
    <iframe src="Iframe/plotly_MultiBar_Static" height="500" width="1200"></iframe>
    <iframe src="Iframe/plotly_Scatter_Static" height="500" width="1200"></iframe> 
    <iframe src="Iframe/plotly_PieChart_Static" height="500" width="1200"></iframe>
    </center>
      
{% endblock %}


