{% extends "mainFrame.html" %}
{% load staticfiles %}

{% block pageTitle %}<h1>American Red Cross Data Project</h1>{% endblock %}
        
{% block content %}
    <h2> Incidents </h2>
            {% include "Incidents/incidentSearchForm.html" %}<br>
        <h5> Recent Indicents</h5>
            {% include "Incidents/incidentTable.html" with incidents=incidents %}
            <br><hr>
    <h2>Maps</h2>
    <a href = "{% url 'download' 'USA_Rails.zip' %}" target=blank><img src="{% static 'QGIS_Previews/USA_Rails.png' %}" height="250" width = "500"></a>
{% endblock %}


